.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

div {
}

.container {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.presbox {
  width: 55%;
  height: 100%;
  text-align: left;
  padding-left: 5%;
  min-height: 100vh;
}

.SiteNameBox {
  margin-top: 5%;
  margin-bottom: 30%;
  width: 30%;
}

.SiteTitle {
  font-size: 40px;
}

.desc {
  font-size: 8px;
}

.SiteHelloBox {
  font-size: 30px;
  margin-bottom: 5%;
}

.SitePresBox {
  font-size: 12px;
  margin-right: 20%;
}

.loginbox {
  padding-top: 20%;
  padding-left: 5%;
  min-height: 100vh;
  width: 45%;
  color: white;
  background: linear-gradient(to right, indigo, mediumblue);
  text-align: left;
}

h2 {
  font-size: 40px;
}

.InputTitle {
  font-size: 12px;
}

.linkSignup {
  margin-left: 20px;
  color: red;
}

.linkpassword {
  margin-left: 40px;
  color: white;
  text-decoration: underline;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  border-radius: 30px;
  border: solid tomato 1px;
  color: white;
  background: tomato;
}

input {
  outline: 0;
  border-bottom: solid 2px white;
  background-color: 0;
}
input:focus {
  border-color: green;
}